.all{
  display: block;
}
img{
  height: 500px;
  width: 500px;
  object-fit: cover;
}
.main{

  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
    gap:1.5rem ;
}
.movie_info{
display: flex;
font-size: 15px;
width: 250px;
height: 40px;
justify-content: space-between;
margin-left: 75px;
margin-top: 20px;
}
h3{
  margin-top:-5px ;
}
header{
  height: 60px;
  /* text-align: right; */
  display: flex;
  justify-content: space-between;
}
input{
  height: 40px;
  padding-left:20px ;
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
  color: rgb(187, 177, 177);
  background-color: #22254b;
  font-size: 15px;
  margin-right: 20px;
  border: 2px solid rgb(86, 86, 145) ;

}
.movie{
  background-color: rgb(86, 86, 145);
  padding-left: 25px;
  border-radius: 5px;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
}
.movie_over{
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: #fff;
color: #22254b;
padding: 1rem;
border-radius: 5px;
overflow: auto;
max-height: 100%;
transform: translateY(100%);
transition: transform 0.3s ease-in-out;
box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
}
.movie:hover .movie_over{
  transform: translateY(0%);
}
.tag{
  background-color: #22254b;
  border-radius: 5px;
  height: 20px;
  min-width: 30px;
  text-align: center;
  padding-top:5px ;
  margin-top: -7px;
}
.tag.green{
  color: green;
}
.tag.orange{
  color: orange;
}
.tag.red{
  color: red;
}
.name{
  text-align: left;
  margin-top: 10px;
  font-size: 30px;
  margin-left: 20px;
  color: pink;
}
.p_letter{
  font-size: 45px;
}